* {
    margin: 0px;
    padding: 0px;
}

body {
    font: 16px Verdana;
    line-height: 1.6;
    background: #e0dfe1;
}

#blok {
    width: 93%;
    overflow: hidden;
    margin: 0 auto;
}

a {
    color: #354458;
}

#header {
    height: 100px;
    margin: 0 0 10px 0;
    background-image: url("Grafika/kwiaty.jpg");
    opacity: 0.8;
}

#header h1 {
    padding: 20px;
    color: #e0dfe1;
}

#kon {
    width: 75%;
    background: #c0c0c0;
    float: left;
    padding: 1%;
    overflow: hidden;
}

#img {
    max-width: 100%;
    height: auto;
}

#menu {
    background: #bbc0cb;
    width: 20%;
    float: right;
    padding: 1%;
    overflow: hidden;
}

#menu h4 {
    padding: 3px 3px 15px 3px;
}

#menu ul li {
    list-style-type: none;
    padding: 0 0 0 10px;
}

li a {
    text-decoration: none;
}

@media only screen and (max-width: 680px) {
    #menu {
        width: 90%;
        position: absolute;
        height: 30px;
    }
    #menu h4 {
        display: none;
    }
    #menu ul li {
        display: inline;
    }
    #kon {
        width: 98%;
        position: relative;
        top: 30px;
        margin-top: 3%;
    }
}

#slider {
    background-color: darkred;
    height: 600px;
    background-size: cover;
    position: relative;
}

button {
    position: absolute;
    top: 45%;
    color: white;
    font-size: 35px;
    font-family: 'Shadows Into Light Two', cursive;
    background-color: transparent;
    border: none;
    padding: 15px 30px;
    border-radius: 5px;
    cursor: pointer;
}

#lewy {
    left: 0px;
}

#prawy {
    right: 0px;
}

.art {
    background-color: grey;
    margin: 5px;
    float: right;
    width: 460px;
    height: auto;
    padding: 5px;
}

p {
    text-align: justify;
}
